body{
    margin: 0px;
    background-color: burlywood;
}
h1{
    padding: 7px;
    margin: 0%;
    background-color: beige;
    text-align: center;
    margin-bottom: 10px;
}
li{
    font-weight: normal;
}
.ulHeader{
    font-weight: bold;
}
.hikelist{
    margin: 5px;
    padding: 0px;
}