.tictactoe{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
}
div{
    font-size: 5em;
    text-align: center;
    border: 1px;
    border-collapse: collapse;
    border-color: black;
    border-style: solid;
}
.left{
    border-left: 0px;
}
.right{
    border-right: 0px;
}
.upper{
    border-top: 0px;
}
.lower{
    border-bottom: 0px;
}
button{
    height: 50px;
    width: 33.333%;
    margin: 0 auto;
    display: block;
}
.PageTitle{
   text-align: center;
}